@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
body {
    @apply bg-gray-50 text-gray-900 font-sans;
    font-family: 'Inter', sans-serif;
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 24px 24px;
}

.animate-visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}